.card-menu {
    display: flex;
    flex-direction: column;
    background: #1d1b24a1;
    text-decoration: none;
    color: #FFF;
    flex: 1;
    height: 80%;
    /* min-width: 300px; */
    max-width: 480px;
    margin: 5px 10px;
    border-radius: 5px;
    padding: 20px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.card-menu .card-icone {
    flex: 3;
    align-items: flex-end;
        /* border: 1px solid red; */
}

.card-menu .card-titulo {
    flex: 2;
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
    color: #aea8ff;
    text-shadow:  4px 4px #222;
    justify-content: center;
    align-items: center;
}

.card-menu .card-descricao {
    flex: 2;
    padding: 0px 20px;
    font-size: 20px;
    text-align: center;
    color: #AAA;

}
.card-menu:active {
    margin: 0px 10px;
}

.card-menu:hover {
    margin-top: 0;  
    margin-bottom: 10px;
    border: 1px solid #aea8ff;
    color: #FFF;
}

@media (max-width: 1300px) {
    .card-menu {
        height: 50%;
        min-width: 100%;     
        margin: 5px;   
    }   
}