.home-produtos {
    flex-direction: column;
}

.home-produtos-corpo { 
    padding: 10px 20px;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* flex-direction: row; */
}

@media (max-width: 998px) {
    .home-produtos-corpo {
        flex-direction: column;
    }
    .home-produtos {
        flex-direction: column;
    }
}